.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}
.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.Range{
    padding: 20px;
}

.Range p{
    text-align: center;
}

.btnReset{
    border: 1px solid transparent;
    background: #CCCCCC;
    border-radius: 50%;
    padding: 5px;
    margin: 20px 0 0 0;
    cursor: pointer;
}

.btnReset:hover{
    background: #DDDDDD;
    border-color: #999999;
}

.btnReset img{
    max-height: 30px;
}
